<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Milky Way Train</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<header>
		<div class="contentWrapper text-center">
			<h1 class="header-title">The Night<br>of the<br>Milky Way Train</h1>
			<a id="start" @click.prevent="openModal" class="btn btn-header" href="#">start</a>
			<div id="modal">
				<transition name="modal">
					<div class="modal" v-show="opened" @click.self="close">
						<div class="modal-close" @click="close">×</div>
						<div class="modal-content">
							<!-- カスタムディレクティブv-playingを利用し、videoタグに対して -->
							<!-- モーダルインスタンスのopenedデータ変更と連動して処理を実行 -->
							<video src="https://goo.gl/qHXCm4" controls width="300" height="168" v-playing="opened"></video>
						</div>
					</div>
				</transition>
			</div>
		</div>
	</header>
	<section class="section1">
		<div class="contentWrapper clearfix">
			<h2 class="section1-heading text-center">Kenji Miyazawa</h2>
			<div class="section1-textBox">
				<p class="section1-text">「ではみなさんは、そういうふうに<br>川だと云いわれたり、乳の流れたあと<br>だと云われたりしていたこの<br>ぼんやりと白いものがほんとうは<br>何かご承知ですか。」</p>
				<p class="section1-text">先生は、黒板に吊した<br>大きな黒い星座の図の、<br>上から下へ白くけぶった<br>銀河帯のようなところを指さしながら、<br>みんなに問いをかけました。</p>
				<p class="section1-text">カムパネルラが手をあげました。<br>それから四五人手をあげました。</p>
				<p class="section1-text">ジョバンニも手をあげようとして、<br>急いでそのままやめました。</p>
				<!-- <a class="btn btn-section1" href="#">more</a> -->
			</div>
		</div>
		<img src="img/s-1.png" alt="">
	</section>
	<section class="section2">
		<div class="contentWrapper flex">
			<div class="section2-content">
				<div class="section2-textBox">
					<div class="text-center">
						<img src="img/icon.png" alt="">
						<h3 class="section2-heading">train1</h3>
					</div>
					<p>たしかにあれがみんな星だと、いつか雑誌で読んだのでしたが、このごろはジョバンニはまるで毎日教室でもねむく、</p>
				</div>
			</div>
			<div class="section2-content">
				<div class="section2-textBox">
					<div class="text-center">
						<img src="img/icon.png" alt="">
						<h3 class="section2-heading">train2</h3>
					</div>
					<p>本を読むひまも読む本もないので、なんだかどんなこともよくわからないという気持ちがするのでした。</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section3">
		<div class="contentWrapper">
			<div class="section3-contents">
				<h2 class="section3-heading">「ジョバンニさん。あなたはわかっているのでしょう。」</h2>
				<p class="section3-text">ジョバンニは勢いよく立ちあがりましたが、立って見るともうはっきりとそれを答えることができないのでした。ザネリが前の席からふりかえって、ジョバンニを見てくすっとわらいました。ジョバンニはもうどぎまぎしてまっ赤になってしまいました。先生がまた云いました。</p>
				<p class="section3-text">「大きな望遠鏡で銀河をよっく調べると銀河は大体何でしょう。」</p>
				<p class="section3-text">やっぱり星だとジョバンニは思いましたがこんどもすぐに答えることができませんでした。</p>
			</div>
		</div>
	</section>
	<section id="sec4" class="section4">
		<div class="section4-content">
			<div class="section4-textBox contentWrapper">
				<p class="section4-text">先生はしばらく困ったようすでしたが、眼めをカムパネルラの方へ向けて、「ではカムパネルラさん。」と名指しました。するとあんなに元気に手をあげたカムパネルラが、やはりもじもじ立ち上ったままやはり答えができませんでした。</p>
				<p class="section4-text">先生は意外なようにしばらくじっとカムパネルラを見ていましたが、急いで「では。よし。」と云いながら、自分で星図を指さしました。</p>
				<p v-if="moreText1">カムパネルラがそれを知って気の毒がってわざと返事をしなかったのだ、そう考えるとたまらないほど、じぶんもカムパネルラもあわれなような気がするのでした。</p>
				<div v-if="btnMore1" class="btn-wrapper">
					<a @click.prevent="showText1" class="btn btn-section4" href="#">more</a>
				</div>
			</div>
			<img src="img/s-5.png" alt="">
		</div>
		<div class="section4-content">
			<div class="section4-textBox contentWrapper">
				<p class="section4-text">「このぼんやりと白い銀河を大きないい望遠鏡で見ますと、もうたくさんの小さな星に見えるのです。ジョバンニさんそうでしょう。」</p>
				<p class="section4-text">ジョバンニはまっ赤になってうなずきました。けれどもいつかジョバンニの眼のなかには涙なみだがいっぱいになりました。</p>
				<p v-if="moreText2">ですからもしもこの天あまの川がわがほんとうに川だと考えるなら、その一つ一つの小さな星はみんなその川のそこの砂や砂利じゃりの粒つぶにもあたるわけです。</p>
				<div v-if="btnMore2" class="btn-wrapper">
					<a @click.prevent="showText2" class="btn btn-section4" href="#">more</a>
				</div>
			</div>
			<img src="img/s-6.png" alt="">
		</div>
	</section>
	<section id="sec5" class="section5">
		<div class="contentWrapper flex">
			<div class="section5-content">
				<img src="img/s-7.png" alt="">
				<div class="section5-textBox">
					<h3 class="section5-heading">そうだ僕は知っていたのだ、</h3>
					<p class="section5-text">もちろんカムパネルラも知っている、それはいつかカムパネルラのお父さんの博士のうちでカムパネルラといっしょに読んだ雑誌のなかにあったの<span v-if="!moreText1">……</span><span
						 v-if="moreText1">だ。またこれを巨きな乳の流れと考えるならもっと天の川とよく似ています。つまりその星はみな、乳のなかにまるで細かにうかんでいる脂油しゆの球にもあたるのです。</span></p>
				</div>
				<a @click.prevent="btn1" v-cloak class="btn btn-section5" href="#">{{ btnText1 }}</a>
			</div>
			<div class="section5-content">
				<img src="img/s-8.png" alt="">
				<div class="section5-textBox">
					<h3 class="section5-heading">それどころでなくカムパネルラは、</h3>
					<p class="section5-text">その雑誌を読むと、すぐお父さんの書斎から巨きな本をもってきて、銀河というところをひろげ、まっ黒な頁ページいっぱいに白い点々のある美しい写真を二人でいつまでも見たのでし<span
						 v-if="!moreText2">……</span><span v-if="moreText2">た。そんなら何がその川の水にあたるかと云いますと、それは真空という光をある速さで伝えるもので、太陽や地球もやっぱりそのなかに浮うかんでいるのです。</span></p>
				</div>
				<a @click.prevent="btn2" v-cloak class="btn btn-section5" href="#">{{ btnText2 }}</a>
			</div>
			<div class="section5-content">
				<img src="img/s-9.png" alt="">
				<div class="section5-textBox">
					<h3 class="section5-heading">それをカムパネルラが</h3>
					<p class="section5-text">忘れる筈はずもなかったのに、すぐに返事をしなかったのは、このごろぼくが、朝にも午后にも仕事がつらく、学校に出てももうみんなともはきはき遊ばず、カムパネルラともあんまり物を云わないようになったので<span
						 v-if="!moreText3">……</span><span v-if="moreText3">、そしてその天の川の水のなかから四方を見ると、ちょうど水が深いほど青く見えるように、天の川の底の深く遠いところほど星がたくさん集って見えしたがって白くぼんやり見えるのです。</span></p>
				</div>
				<a @click.prevent="btn3" v-cloak class="btn btn-section5" href="#">{{ btnText3 }}</a>
			</div>
		</div>
	</section>
	<footer>
		<div class="contentWrapper text-center">
			<img src="img/i-1.png" alt="">
			<img src="img/i-2.png" alt="">
			<img src="img/i-3.png" alt="">
			<div class="footer-text">
				<p>カムパネルラがそれを知って気の毒がってわざと返事をしなかったのだ、<br>そう考えるとたまらないほど、じぶんもカムパネルラもあわれなような気がするのでした。</p>
				<p class="footer-copyright">copyright 2018 The Night of the Milky Way Train</p>
			</div>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="vue.js"></script>
</body>

</html>
